.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/pokemon-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
        width: 35rem;
        color: white;
        text-align: center;
    }
    .form-container {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-label {
            text-align: left;
        }
        .form-input {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
        .btn.btn-primary {
            margin: 2rem;
        }
    }
}
